# ========================================================================================
# External libraries as submodules
# ========================================================================================

# luima_sbd
[submodule "luima_sbd"]
	path = lib/luima_sbd
	url = git@github.com:jsavelka/luima_sbd.git
	ignore = dirty

